@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #f9fafb;
	font-family: 'Open Sans', 'sans-serif';
}

.container {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-around;
	/* height: 98vh; */
	margin: 0.5rem;
	border: 1px solid gray;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.section {
	width: 33%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	/* border: 1px solid green; */
}

#cart-details {
	width: 100%;
}

#cart-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
}

#cart-header h1 {
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 0.5rem;
}

.item button {
	padding: 0.2rem;
	margin: 1rem;
}

/* Billing details */
#billing-details {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	padding: 0 0.5rem;
}

.form-control {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0.2rem;
}

#city-pc {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

#city-pc .form-control {
	width: 50%;
}

.form-control label {
	color: #777;
	padding: 0.5rem;
	font-size: 0.8rem;
}

.form-control input {
	padding: 0.5rem;
	font-size: 0.8rem;
}

.form-control small {
	padding: 0.2rem;
}

/* Payment form */

#payment-form {
	width: 100%;
	padding: 0.5rem;
}

.hidden {
	visibility: hidden;
}

#payment-form button {
	width: 100%;
	padding: 0.5rem;
	border-radius: 4px;
	border: 2px solid #3498db;
	background-color: #3498db;
	color: white;
	font-size: 1rem;
	cursor: pointer;
}

#card-element {
	margin: 0.5rem 0;
}

#submit:disabled {
	background-color: #777;
	border-color: #777;
}

#payment-outcome {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
}

#payment-outcome.success {
	background-color: green;
	color: white;
}

#payment-outcome.error {
	background-color: red;
	color: white;
}

/* Stripe */
.StripeElement {
	box-sizing: border-box;

	height: 40px;

	padding: 10px 12px;

	border: 1px solid transparent;
	border-radius: 4px;
	background-color: white;

	box-shadow: 0 1px 3px 0 #e6ebf1;
	-webkit-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
}

.StripeElement--focus {
	box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
	border-color: #fa755a;
}

.StripeElement--webkit-autofill {
	background-color: #fefde5 !important;
}
